/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
/build
/docs
.idea
.env
.env.backup
.auth.json
composer.lock
coverage
psalm.xml
.php_cs
.php_cs.cache
.phpunit.result.cache
.php-cs-fixer.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
